{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h2{
    text-align: center;
margin-top: 50px;
}
.htmlcss{
    display: grid;
    grid-template-columns: auto auto;
    padding: 50px;
}
header{
    font-size: 36px;
    text-align: center;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.316);
}

code {
    background-color: #eee;
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
}

body{
    background-color: rgb(75, 165, 239);
}

main{
    background-color: white;
    width: 600px;
    height: 700px;
    margin: auto;
    padding: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.463);
}

.side{
    width: 80px;
}


article.python>p>img{
    width: 100px;
    float: right;
}

