{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h2{
    text-align: center;
margin-top: 50px;
}

header{
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
   
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.316);
}

body{
    background-color: rgb(75, 165, 239);
}

main{
    background-color: white;
    width: 600px;
    height: 700px;
    margin: auto;
    padding: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.463);
}

.htmlcss>p>img{
    width: 80px;
    float: right;
}

.javas>p>img{
    width: 80px;
    float: right;
}

article.python>p>img{
    width: 100px;
    float: right;
}