

@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}

body{
    background: rgb(107, 213, 252);
}

#back{
    padding: 20px;
    width: 30px;
    
}
header{
    display: grid;
    
    grid-template-columns: 100px 400px;
    justify-content: center;
    color: white;
    font-size: 1rem;
    padding: 5px;
}
section{
    background: white;
    border-radius: 20px;
    padding: 15px;
    width: 70%;
    min-height: 380px;
    max-width: 380px;
    margin: auto;
    line-height: 40px;
}
.grid1{
    display: grid;
    grid-template-columns: auto auto auto;
}
.grid1>div>input{
    width: 100px;
}
#painel{
    margin: 40px 30px 0px;
    padding: 5px;
    min-width: 300px;
}
footer{
    color: white;
    text-align: center;
    opacity: 80%;
    padding: 20px;
}

.bottomon{
    border-radius: 10px;
    background: rgba(8, 227, 252, 0.241);
    box-shadow: 0px 2px 5px rgba(5, 65, 134, 0.568);
    position:relative;
    animation:animatebottom 0.8s;
}

.button {
    background-color: #6ed3ff; 
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
  }


