body {
    background: #325281e0;
    font: normal 18pt Arial;
}

header {
    color: white;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 100px 400px;
}
section{
    text-align: center;
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.667);
}

section>div>#imagem{
width: 250px;
height: 250px; 
border-radius: 250px;  
}
footer{
    color: white;
    text-align: center;
}
footer>nav{
    display: grid;
    padding: 30px;
    grid-template-columns: 30px 30px 30px;
    justify-content: center;


    
}

#back{
    padding: 20px;
    width: 30px;
}